[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = v3_req

[dn]
C=US
ST=Local
L=Local
O=sc-mgr
OU=IT Department
CN=sc-mgr.local

[v3_req]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = sc-mgr.local
DNS.3 = *.sc-mgr.local
IP.1 = 127.0.0.1
IP.2 = 192.168.8.28
